body {
  background-color: white;
  color: black;
  max-width: auto;
  margin: 5%;

}

.storyText {
  font-size: 200%;
  font-weight: bold;
  text-align: justify;
}

p {
  margin: 5%;
}



.answerImgTable {
  text align: center;
  margin: 5%;

}

.img {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px;
}

.storyimg {
  text align: center;
  height: 500px;
  width: 250px;
  margin: auto;
}



.select {
  margin: auto;
  text-align: center;
  width: 30%;
}