body {
  background-color: white;
  color: black;
  margin: 5%;
  max-width: auto;

}

.storyText {
  font-size: 200%;
  font-weight: bold;
  text-align: justify;
}

p {
  margin: 5%;
}

.introSelect {
  margin: 5%;
}


button {

  font-size: 300%;
  padding: 2%;
  border-radius: 5%%;

}


.answerImgTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.img {
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px;
}

.storyimg {
  text align: center;
  height: 337%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}



.select {
  margin: auto;
  text-align: center;
  width: 30%;
}