body {
  background-color: white;
  color: black;
  max-width: auto;
}

h2 {
  text-align: center;
}

.leuphanaLogo {
  height: 70px;

}

.storyText {
  font-size: 200%;
  font-weight: bold;
  text-align: left;
}

p {
  margin: 2%;

}

.introSelect {
  margin: 3%;
}

.column {
  margin 2%;
}








.answerImgTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

.img {
  height: auto;
  width: 80%;
  margin: 5%;
}



.storyimg {
  margin-left: auto;
  margin-right: auto;
  text align: center;
  height: auto;
  width: 90%;

}