<p class="storyText">
  Bist du ein Junge oder ein Mädchen?</p>

<div class="introSelect">
  <button class="btn btn-success btn-lg" ng-click="gender='Junge'"> Junge </button>
  <button class="btn btn-success btn-lg" ng-click="gender='Mädchen'"> Mädchen </button>
</div>

<p class="storyText">Wann bist du geboren?</p>
<div class="introSelect">
  <div class="row">

    <div class="column">
      <div class="introSelect">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{day}}
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <button class="dropdown-item" type="button" ng-click="day=1+'.'">1</button>
            <button class="dropdown-item" type="button" ng-click="day=2+'.'">2</button>
            <button class="dropdown-item" type="button" ng-click="day=3+'.'">3</button>
            <button class="dropdown-item" type="button" ng-click="day=4+'.'">4</button>
            <button class="dropdown-item" type="button" ng-click="day=5+'.'">5</button>
            <button class="dropdown-item" type="button" ng-click="day=6+'.'">6</button>
            <button class="dropdown-item" type="button" ng-click="day=7+'.'">7</button>
            <button class="dropdown-item" type="button" ng-click="day=8+'.'">8</button>
            <button class="dropdown-item" type="button" ng-click="day=9+'.'">9</button>
            <button class="dropdown-item" type="button" ng-click="day=10+'.'">10</button>
            <button class="dropdown-item" type="button" ng-click="day=11+'.'">11</button>
            <button class="dropdown-item" type="button" ng-click="day=12+'.'">12</button>
            <button class="dropdown-item" type="button" ng-click="day=13+'.'">13</button>
            <button class="dropdown-item" type="button" ng-click="day=14+'.'">14</button>
            <button class="dropdown-item" type="button" ng-click="day=15+'.'">15</button>
            <button class="dropdown-item" type="button" ng-click="day=16+'.'">16</button>
            <button class="dropdown-item" type="button" ng-click="day=17+'.'">17</button>
            <button class="dropdown-item" type="button" ng-click="day=18+'.'">18</button>
            <button class="dropdown-item" type="button" ng-click="day=19+'.'">19</button>
            <button class="dropdown-item" type="button" ng-click="day=20+'.'">20</button>
            <button class="dropdown-item" type="button" ng-click="day=21+'.'">21</button>
            <button class="dropdown-item" type="button" ng-click="day=22+'.'">22</button>
            <button class="dropdown-item" type="button" ng-click="day=23+'.'">23</button>
            <button class="dropdown-item" type="button" ng-click="day=24+'.'">24</button>
            <button class="dropdown-item" type="button" ng-click="day=25+'.'">25</button>
            <button class="dropdown-item" type="button" ng-click="day=26+'.'">26</button>
            <button class="dropdown-item" type="button" ng-click="day=27+'.'">27</button>
            <button class="dropdown-item" type="button" ng-click="day=28+'.'">28</button>
            <button class="dropdown-item" type="button" ng-click="day=29+'.'">29</button>
            <button class="dropdown-item" type="button" ng-click="day=30+'.'">30</button>
            <button class="dropdown-item" type="button" ng-click="day=31+'.'">31</button>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{month}}
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <button class="dropdown-item" type="button" ng-click="month='Januar'; monthID=0">Januar</button>
          <button class="dropdown-item" type="button" ng-click="month='Februar'; monthID=1">Februar</button>
          <button class="dropdown-item" type="button" ng-click="month='März'; monthID=2">März</button>
          <button class="dropdown-item" type="button" ng-click="month='April'; monthID=3">April</button>
          <button class="dropdown-item" type="button" ng-click="month='Mai'; monthID=4">Mai</button>
          <button class="dropdown-item" type="button" ng-click="month='Juni'; monthID=5">Juni</button>
          <button class="dropdown-item" type="button" ng-click="month='Juli'; monthID=6">Juli</button>
          <button class="dropdown-item" type="button" ng-click="month='August'; monthID=7">August</button>
          <button class="dropdown-item" type="button" ng-click="month='September'; monthID=8">September</button>
          <button class="dropdown-item" type="button" ng-click="month='Oktober'; monthID=9">Oktober</button>
          <button class="dropdown-item" type="button" ng-click="month='November'; monthID=10">November</button>
          <button class="dropdown-item" type="button" ng-click="month='Dezember'; monthID=11">Dezember</button>
        </ul>
      </div>
    </div>

    <div class="column">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{year}}
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[1]">{{birthdayYears[1]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[2]">{{birthdayYears[2]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[3]">{{birthdayYears[3]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[4]">{{birthdayYears[4]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[5]">{{birthdayYears[5]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[6]">{{birthdayYears[6]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[7]">{{birthdayYears[7]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[8]">{{birthdayYears[8]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[9]">{{birthdayYears[9]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[10]">{{birthdayYears[10]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[11]">{{birthdayYears[11]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[12]">{{birthdayYears[12]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[13]">{{birthdayYears[13]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[14]">{{birthdayYears[14]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[15]">{{birthdayYears[15]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[16]">{{birthdayYears[16]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[17]">{{birthdayYears[17]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[18]">{{birthdayYears[18]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[19]">{{birthdayYears[19]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[20]">{{birthdayYears[20]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[21]">{{birthdayYears[21]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[22]">{{birthdayYears[22]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[23]">{{birthdayYears[23]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[24]">{{birthdayYears[24]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[25]">{{birthdayYears[25]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[26]">{{birthdayYears[26]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[27]">{{birthdayYears[27]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[28]">{{birthdayYears[28]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[29]">{{birthdayYears[29]}}</button>
          <button class="dropdown-item" type="button" ng-click="year=birthdayYears[30]">{{birthdayYears[30]}}</button>
        </ul>
      </div>
    </div>

  </div>
</div>

<p class="storyText">Welche Sprache sprichst du zuhause?</p>

<div class="introSelect">

  <div class="row">
    <div class="column">
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-success btn-lg active">
          <input type="checkbox" checked autocomplete="off"> Deutsch
        </label>
      </div>
    </div>
    <div class="column">
      <h3> &nbsp; und &nbsp; </h3>
    </div>
    <div class="column">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{language}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" ng-click="language='keine andere Sprache'">keine andere Sprache</button>
          <button class="dropdown-item" type="button" ng-click="language='Englisch'">Englisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Französisch'">Französisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Spanisch'">Spanisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Arabisch'">Arabisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Türkisch'">Türkisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Chinesisch'">Chinesisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Japanisch'">Japanisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Russisch'">Russisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Polnisch'">Polnisch</button>
          <button class="dropdown-item" type="button" ng-click="language='Rumänisch'">Rumänisch</button>
          <button class="dropdown-item" type="button" ng-click="language='eine andere Sprache'">eine andere Srpache</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="introSelect">

  <select name='language' id='language' ng-model='language'>
  <button class="dropdown-item" type="button" value='german'>Deutsch</button>
  <button class="dropdown-item" type="button" value='english'>Englisch</button>
  <button class="dropdown-item" type="button" value='french'>Französisch</button>
  <button class="dropdown-item" type="button" value='spanish'>Spanisch</button>
  <button class="dropdown-item" type="button" value='arabic'>Arabisch</button>
  <button class="dropdown-item" type="button" value='turkish'>Türkisch</button>
  <button class="dropdown-item" type="button" value='chinese'>Chinesisch</button>
  <button class="dropdown-item" type="button" value='japanese'>Japanisch</button>
  <button class="dropdown-item" type="button" value='russian'>Russisch</button>
  <button class="dropdown-item" type="button" value='others'>Eine andere Sprache</button>
  </select>
</div> -->

<br />


<button type="button" class="btn btn-success btn-block btn-lg" ng-click="startStory()" ng-disabled="year=='Jahr' || month=='Monat' || day=='Tag' || gender=='undefined'">Geschichte starten</button>


<br />