<h2>Herzlich Wilkommen beim ATEM-Test!</h2>



<img src="img/story/k3intro.JPG" class="storyimg">

<ul class="pagination">
  <li><a href="#/">Titel</a></li>
  <li><a href="#/intro">Anmeldung</a></li>
  <li><a href="#/comp1">Komp1</a></li>
  <li><a href="#/comp2">Komp2</a></li>
  <li><a href="#/comp3">Komp3</a></li>
  <li><a href="#/comp4">Komp4</a></li>
  <li><a href="#/comp5">Komp5</a></li>
  <li><a href="#/comp6">Komp6</a></li>
  <li><a href="#/results">Results</a></li>
</ul>
<br />
<br />
<br />

<button type="button" class="btn btn-success btn-block btn-lg" ng-click="normalClick()">Normal</button>
<br>
<button type="button" class="btn btn-danger btn-block btn-lg" ng-click="presentationClick()">Präsentation</button>