<h2>Herzlich Wilkommen beim ATEM-Test!</h2>
<img src="../img/story/k3intro.jpg" class="storyimg">

<!--
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button class="btn-success">Normaler Modus</button>
        <button class="btn-success">Präsentations-Modus</button>
      </div>
    </div>
  </div>
  -->
<br />
<br />
<br />


<div class="BannerButton" ng-click="normalClick()">
  <h4>Normal</h4></div>
<br />
<div class="BannerButton" id="orange" ng-click="presentationClick()">
  <h4>Präsentation</h4></div>