<h2>Herzlich Wilkommen beim ATEM-Test!</h2>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>

<img src="img/story/k3intro.JPG" class="storyimg">

<!--
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button class="btn-success">Normaler Modus</button>
        <button class="btn-success">Präsentations-Modus</button>
      </div>
    </div>
  </div>
  -->
<br />
<br />
<br />


<div class="BannerButton" ng-click="normalClick()">
  <h4>Normal</h4></div>
<br />
<div class="BannerButton" id="orange" ng-click="presentationClick()">
  <h4>Präsentation</h4></div>